[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jira = "*"
flask = "*"
flask-restful = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
